<!DOCTYPE html>
<html lang="kz">
<html lang="ru">
<html lang="en">
<head>
    <script type=text/javascript src="{{
        url_for('static', filename='js/script.js') }}"></script>
    <script type=text/javascript src="{{
        url_for('static', filename='js/jQuery.js') }}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The main aim of the web-site is to help in order for kazakh people to get information">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tynyshtyq Dastan">
    <meta name="author" content="Bekbol Bolatov">
    {% block head %} {% endblock %}
    <title>Melon</title>
    <link rel="icon" href="../static/images/logoчикен.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body style="background-color: rgb(246, 248, 250);">
    <nav class="navbar">
        <div class="logo_link-box logo_place_navbar">
            <a href="/" class="logo__link-text_text-decoration_none navbar__link_mode text_montserrat"><img src="../static/images/logoчикен.png" class="logo__img" alt="Логотип">S A U A L</a>
        </div>

        <div class="navbar__user-block navbar__user-block_place_navbar">
            <p class="navbar__username text_color_light text_montserrat">{{ current_user.username }}</p>
            <img onclick="show_navbar__user_options()" id="navbar__user-block__img" src="../static/images/test_avatar.jpg" alt="Аватарка пользователя" class="navbar__user-block__img">
            {% if current_user.is_authenticated %}
            <div id="navbar__user-options" class="navbar__user-options">
                <a href="/user_profile/" class="navbar__option-link text_montserrat text_color_dark-grey">Профиль</a>
                <a href="/settings" class="navbar__option-link text_montserrat text_color_dark-grey">Баптаулар</a>
                <a href="/settings" class="navbar__option-link text_montserrat text_color_dark-grey">Тех. қолдау</a>
                <hr style="height: .1px; width: 90%; border: 0; margin: 0; background-color: rgba(88, 88, 88, 0.404);">
                <a href="/logout" class="navbar__option-link text_montserrat text_color_dark-grey">Шығу</a>
            </div>
            {% endif %}
        </div>
        <div class="main-search_box">
            <input type="text" class="main-search_input text_color_dark-grey text_montserrat" placeholder="Іздеу">
        </div>
    </nav>
    <div class="page">
        {% block main_info %}

        {% endblock %}
        
    </div>

    
</body>
</html>
