<!DOCTYPE html>
<html lang="kz">
<html lang="ru">
<html lang="en">
<head>
    <script type=text/javascript src="{{
        url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The main aim of the web-site is to help in order for kazakh people to get information">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tynyshtyq Dastan">
    <meta name="author" content="Bekbol Bolatov">
    {% block head %} {% endblock %}
    <title>Saual</title>
    <link rel="icon" href="../static/images/logoчикен.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body style="background-color: rgb(246, 248, 250);">
    <nav class="navbar">
        <img src="../static/images/navbar-1.1s-47px.svg" alt="" style="width: 60px; height: 60px; margin: 0; cursor: pointer;" class="menu-bar_anim-" id="navbar_menu_but">
        <div class="logo_link-box logo_place_navbar">
            
            <a href="/" class="logo__link-text_text-decoration_none navbar__link_mode text_montserrat"><img src="../static/images/logo.svg" class="logo__img" alt="Логотип">S A U A L</a>
        </div>

        <div class="navbar__user-block navbar__user-block_place_navbar">
            <p class="navbar__username text_color_light text_montserrat">{{ current_user.username }}</p>
            <img onclick="show_navbar__user_options()" id="navbar__user-block__img" src="../static/images/test_avatar.jpg" alt="Аватарка пользователя" class="navbar__user-block__img">
            {% if current_user.is_authenticated %}
            <div id="navbar__user-options" class="navbar__user-options">
                <a href="/user_profile/" style="display: flex; flex-direction: row; align-items: center;" class="navbar__option-link text_montserrat"> <img src="../static/images/navbar__option-profile_icon.svg" alt="" style="width: 18px; height: auto; margin-right: 5px;"> Профиль</a>
                <a href="/settings" class="navbar__option-link text_montserrat">Баптаулар</a>
                <a href="/settings" class="navbar__option-link text_montserrat">Тех. қолдау</a>
                <hr style="height: .1px; width: 90%; border: 0; margin: 0; background-color: rgba(88, 88, 88, 0.404);">
                <a href="/logout" class="navbar__option-link text_montserrat">Шығу</a>
            </div>
            {% endif %}
        </div>
        <div class="main-search_box">
            <input type="text" class="main-search_input text_color_dark-grey text_montserrat" placeholder="Іздеу">
        </div>
    </nav>
    <nav class="side-bar flex-column_align-items_center" id="side_bar_id">
        <ol class="side-bar_list">
            <li onclick="side_bar_button_click(this.id)" id="profile_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/user_profile/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_profile-icon.svg" alt="Менің профилім" class="side-bar__icon"> Менің профилім</a>
            </li>
            <li onclick="side_bar_button_click(this.id)" id="main_page_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_top-icon.svg" alt="Басты бет" class="side-bar__icon"> Басты бет</a>
            </li>
            <li onclick="side_bar_button_click(this.id)" id="articles_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_lenta-icon.svg" alt="Мақалалар" class="side-bar__icon"> Мақалалар</a>
            </li>
            <li onclick="side_bar_button_click(this.id)" id="questions_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/questions" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_questions-icon.svg" alt="Сұрақтар" class="side-bar__icon"> Сұрақтар</a>
            </li>
            <hr style="height: .1px; width: 100%; text-align: left; margin: 30px 0 0; border: 0; background-color: rgba(88, 88, 88, 0.281);">
            <li onclick="side_bar_button_click(this.id)" id="answer_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_answer-icon.svg" alt="Жауап беру" class="side-bar__icon"> Жауап беру</a>
            </li>
            <li onclick="side_bar_button_click(this.id)" id="pose_question_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_pose-question-icon.svg" alt="Сұрақ қою" class="side-bar__icon"> Сұрақ қою</a>
            </li>
            <li class="side-bar__social-icons flex-row">
                <p class="text__link_mode" style="margin-right: 5px; padding-bottom: 5px;">Тех. қолдау: </p>
                <a href="https://t.me/nameuser3" target="_blank" class="side-bar__social-icon"><img src="../static/images/telegram_color_white.svg" alt="Телеграм"></a>
                <a href="https://www.instagram.com/jog_cats/" target="_blank" class="side-bar__social-icon"><img src="../static/images/instagram_color_white.svg" alt="Инстаграм"></a>
                <a href="https://vk.com/public198627056" target="_blank" class="side-bar__social-icon"><img src="../static/images/vk_color_white.svg" alt="Вконтакте"></a>
            </li>
            <p style="margin-top: 20px; position: absolute; bottom: 8.5%; color: rgb(79, 79, 79); font-weight: normal;">&copy; 2020. Jog Cats, NGO</p>
        </ol>
    </nav>
    
    <div class="page">
        {% block main_info %}

        {% endblock %}
        
    </div>

    <script>
        const side_bar = document.getElementById('side_bar_id');
        const menu_but = document.getElementById('navbar_menu_but');

        menu_but.addEventListener("click", () => {
            side_bar.classList.toggle("show_side_bar");
            menu_but.classList.toggle('animate_menu-but');
        });
    </script>
</body>
</html>
