{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block main_info %}
<section class="flex-row">
    <nav class="side-bar flex-column_align-items_center">
        <ol class="side-bar_list">
            <li onclick="side_bar_button_click(this.id)" id="profile_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/user_profile/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_profile-icon.svg" alt="Менің профилім" class="side-bar__icon"> Менің профилім</a>
            </li>
            <li onclick="side_bar_button_click(this.id)" id="main_page_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_top-icon.svg" alt="Басты бет" class="side-bar__icon"> Басты бет</a>
            </li>
            <li onclick="side_bar_button_click(this.id)" id="articles_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_lenta-icon.svg" alt="Мақалалар" class="side-bar__icon"> Мақалалар</a>
            </li>
            <li onclick="side_bar_button_click(this.id)" id="questions_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_questions-icon.svg" alt="Сұрақтар" class="side-bar__icon"> Сұрақтар</a>
            </li>
            <hr style="height: .1px; width: 100%; text-align: left; margin: 30px 0 0; border: 0; background-color: rgba(88, 88, 88, 0.281);">
            <li onclick="side_bar_button_click(this.id)" id="answer_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_answer-icon.svg" alt="Жауап беру" class="side-bar__icon"> Жауап беру</a>
            </li>
            <li onclick="side_bar_button_click(this.id)" id="pose_question_btn" name="side_bar_button" class="side-bar__category-box back-question-box">
                <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_pose-question-icon.svg" alt="Сұрақ қою" class="side-bar__icon"> Сұрақ қою</a>
            </li>
            <li class="side-bar__social-icons flex-row">
                <p class="text__link_mode" style="margin-right: 5px; padding-bottom: 5px;">Тех. қолдау: </p>
                <a href="https://t.me/nameuser3" target="_blank" class="side-bar__social-icon"><img src="../static/images/telegram_color_white.svg" alt="Телеграм"></a>
                <a href="https://www.instagram.com/jog_cats/" target="_blank" class="side-bar__social-icon"><img src="../static/images/instagram_color_white.svg" alt="Инстаграм"></a>
                <a href="https://vk.com/public198627056" target="_blank" class="side-bar__social-icon"><img src="../static/images/vk_color_white.svg" alt="Вконтакте"></a>
            </li>
            <p style="margin-top: 20px; position: absolute; bottom: 8.5%; color: rgb(79, 79, 79); font-weight: normal;">&copy; 2020. Jog Cats, NGO</p>
        </ol>
    </nav>
    <section class="main-bar">
        <div class="top-lookfor-questions_box">
            <form action="{{ url_for('new_qa') }}" method="POST" enctype="multipart/form-data" class="add_question flex-column">
                <p class="text_montserrat add_question__paragraph-main">Сұрақ</p>
                <p class="text_montserrat add_question__paragraph">Нақты болыңыз және басқа адамға сұрақ қойғандай жазыңыз</p>
                <input class="input_text add_question__input" type="text"  id="question-title" name="question__title" required>
                <p class="text_montserrat add_question__paragraph-main">Толығырақ</p>
                <p class="text_montserrat add_question__paragraph">Жауап берушіге барынша толығырақ ақпарат беруге тырысыңыз</p>
                <textarea type="text" name="question__main-text" style="border-radius: 5px" required class="add_question__textarea input_text"></textarea>
                <input type="file"  id="file" name="files[]" multiple="true" accept="image/*" style="margin: 15px 0;">
                <button type="submit" id="add_form" class="text_montserrat" style="font-size:15px; padding: 3px 0; border-radius: 5px; border:1px solid rgb(79, 79, 79); background-color: #2F80F0; color: white;">Жариялау</button>
            </form>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var
            max_file_number = 3,
            $form = $('form'), 
            // Define your upload field class or id or tag.
            $file_upload = $('#file', $form), 
            // Define your submit class or id or tag.
            $button = $('#add_form', $form); 

        // // Disable submit button on page ready.
        // $button.prop('disabled', 'disabled');
        $file_upload.on('change', function () {
        var number_of_images = $('#file')[0].files.length;
        if (number_of_images > max_file_number) {
            alert(`You can upload maximum ${max_file_number} files.`);
            $(this).val('');
            $button.prop('disabled', 'disabled');
        } 
        else {
            $button.prop('disabled', false);
        }
  });
    </script>
{% endblock %}