{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block main_info %}
<section class="flex-column">
    <section class="side-bar flex-column_align-items_center">
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_profile-icon.svg" alt="Менің профилім" class="side-bar__icon"> Менің профилім</a>
        </div>
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_top-icon.svg" alt="Басты бет" class="side-bar__icon"> Басты бет</a>
        </div>
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_lenta-icon.svg" alt="Лента" class="side-bar__icon"> Лента</a>
        </div>
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_questions-icon.svg" alt="Сұрақтар" class="side-bar__icon"> Сұрақтар</a>
        </div>
        <hr style="height: .1px; width: 100%; text-align: left; margin: 30px 0 0; border: 0; background-color: rgba(88, 88, 88, 0.281);">
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_answer-icon.svg" alt="Жауап беру" class="side-bar__icon"> Жауап беру</a>
        </div>
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link"><img src="../static/images/side-bar_pose-question-icon.svg" alt="Сұрақ қою" class="side-bar__icon"> Сұрақ қою</a>
        </div>
        <div class="side-bar__social-icons flex-row">
            <a href="" class="text__link_mode" style="margin-right: 5px; padding-bottom: 5px;">Тех. қолдау: </a>
            <a href="https://web.telegram.org/#/im?p=@nameuser3" target="_blank" class="side-bar__social-icon"><img src="../static/images/telegram_color_white.svg" alt="Телеграм"></a>
            <a href="https://www.instagram.com/jog_cats/" target="_blank" class="side-bar__social-icon"><img src="../static/images/instagram_color_white.svg" alt="Инстаграм"></a>
            <a href="https://vk.com/public198627056" target="_blank" class="side-bar__social-icon"><img src="../static/images/vk_color_white.svg" alt="Вконтакте"></a>
        </div>
        <p style="margin-top: 20px; position: absolute; bottom: 8.5%; color: rgb(79, 79, 79); font-weight: normal;">&copy; 2020. Jog Cats, NGO</p>
    </section>
    <section class="main-bar">
        <div class="top-lookfor-questions_box">
            <form action="{{ url_for('new_qa') }}" method="POST" enctype=multipart/form-data>
                <input type="text"  id="question-title" name="question__title" required>
                <textarea type="text" name="question__main-text" required></textarea>
                <input type="file"  id="file" name="file" multiple>
                <button type="submit">Добавить</button>
            </form>
        </div>
    </section></section>
{% endblock %}