{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{% endblock %}



{% block main_info %}
<header class="header_index-page">
    <h1 class="text_color_light header__title text_montserrat">Ғылым - теңіз,<br> білім - қайық</h1>
    {% if not current_user.is_authenticated %}
        <form action="{{ url_for('main') }}" method="POST" class="sign-in_box" id="sign_in_form">
            <h2 class="sign-in_title text_montserrat text_color_dark-grey">Аккаунтқа кіру</h2>
            <hr style="height: .1px; width: 90%; text-align: left; margin: 5px auto 0; border: 0; background-color: rgba(88, 88, 88, 0.301);">
            <div class="sign-in__content">
                <p class="sign-in_label text_montserrat text_color_dark-grey">Аты-жөні ( Логин )</p>
                <input name="username_in" type="text" class="input_text text_montserrat text_color_dark-grey"">
                    <p class="sign-in_label text_montserrat" id="error_p_username_in" style="color: red;"></p>
                <p class="sign-in_label text_montserrat text_color_dark-grey">Құпия сөз</p>
                <input name="password_in" type="password" class="input_text text_montserrat text_color_dark-grey" required>
                    <p class="sign-in_label text_montserrat" id="error_p_password_in" style="color: red;"></p>
            </div>
            <button class="button_sign text_color_light button-submit text_montserrat" id="sign_in_button" type="submit">Кіру</button>
            <p class="just_for_sign_up_label">Егер аккаунт болмаса →<a onclick="in_hide()" style="cursor: pointer; text-decoration: none; color: #2f80ed;"> тіркеліңіз. </a></p>
        </form>
        
        <form action="{{ url_for('main') }}" method="POST" class="sign-in_box" id="sign_up_form">
            <h2 class="sign-in_title text_montserrat text_color_dark-grey">Аккаунт тіркеу</h2>
            <hr style="height: .1px; width: 90%; text-align: left; margin: 5px auto 0; border: 0; background-color: rgba(88, 88, 88, 0.301);">
            <div class="sign-in__content">
                <p class="sign-in_label text_montserrat text_color_dark-grey">Аты-жөні</p>
                <input name="username" id="username" type="text" class="input_text text_montserrat text_color_dark-grey" required>
                <!-- <p style="align-self: flex-end; margin: 5px 0 0;" ><span id="username_len">0</span> / 35</p> -->
                
                    <p style="position: absolute; top: 59px; left: 100px; padding: 0; margin: 5px 0 0; color: rgb(255, 0, 0);" class="text_montserrat" id="error_p_username" ></p>

                <p class="sign-in_label text_montserrat text_color_dark-grey">Email</p>
                <input name="email" type="email" class="input_text text_montserrat text_color_dark-grey" required>

                    <p class="text_montserrat" style="position: absolute; top: 145px; left: 70px; padding: 0; margin: 5px 0 0; color: rgb(255, 0, 0);" id="error_p_email"></p>
                
                <p class="sign-in_label text_montserrat text_color_dark-grey">Құпия сөз</p>
                <input name="password" type="password" class="input_text text_montserrat text_color_dark-grey" required>
            </div>
            <button class="button_sign text_color_light button-submit text_montserrat"  id="sign_up_button" type="submit">Тіркелу</button>
            <p class="just_for_sign_up_label">Егер аккаунт бар болса →<a onclick="up_hide()" style="cursor: pointer; text-decoration: none; color: #2f80ed;"> кіріңіз. </a></p>
        </form>
    {% endif %}
    <img src="../static/images/header_boy.svg" class="header_boy-img" alt="boy on header" id='mainpage_boy'>
    <div class="main-page_buttons-box">
        <a href="/questions" style="text-decoration: none;"><div class="main-page_button text_color_light text_montserrat main-page_button_background" style="display: flex; align-items: center;">Алға &#129046;</div></a>
    </div>
</header>

<main class="index_main-content">
    <section class="frequently-asked-questions">
        <h2 class="frequently-asked-questions__title text_montserrat text_color_dark-grey">Соңғы сұрақтар</h2>

        <div class="frequently-asked-questions__box">
            {% for question in actual_q %}
            <div class="profile__question-block">
                <div class="question-block_header">
                    <h2 class="question-header__text text_color_dark-grey text_montserrat">{{question.title}}</h2>
                </div>
                <div class="question-block_content">
                    <h2 class="question-content__text text_color_dark-grey text_montserrat">{{question.content}}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

<footer class="profile-footer">
    <div style="width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: space-around;">
        <div class="footer__logo">
                <a href="/" class="logo__link-text_text-decoration_none navbar__link_mode text_montserrat"><img src="../static/images/logo.svg" class="logo__img" alt="Логотип">S A U A L</a>
        </div>
        <div class="footer__links">
            <nav style="margin: 0; padding: 0; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <ol style="margin: 0; padding: 0; display: flex; flex-direction: row; justify-content: center; align-items: center;">
                    <li class="footer__social-icon flex-row"><a href="https://t.me/nameuser3" target="_blank" class="footer_icon"><img src="../static/images/telegram_color_white.svg" alt="Телеграм"></a> <a href="https://t.me/nameuser3" class="text_montserrat text_color_light" style="text-decoration: none;">Телеграмм</a></li>
                    <li class="footer__social-icon flex-row"><a href="https://www.instagram.com/jog_cats/" target="_blank" class="footer_icon"><img src="../static/images/instagram_color_white.svg" alt="Инстаграм"></a><a href="https://www.instagram.com/jog_cats/" class="text_montserrat text_color_light" style="text-decoration: none;">Инстаграм</a></li>
                    <li class="footer__social-icon flex-row"><a href="https://vk.com/public198627056" target="_blank" class="footer_icon"><img src="../static/images/vk_color_white.svg" alt="Вконтакте"></a><a href="https://vk.com/public198627056" class="text_montserrat text_color_light" style="text-decoration: none;">Вконтакте</a></li>
                </ol>
            </nav>
        </div>
        <div class="footer__jog-cats">
            <p style="color: rgb(79, 79, 79); font-weight: normal; font-size: 20px;">&copy; 2020. Jog Cats, NGO</p>
    </div>
    </div>
</footer>

<script>
    if (window.sessionStorage.getItem('animated') === null) { 
        console.log("Asdasd");
    document.getElementById('mainpage_boy').classList.add('animated');
    window.sessionStorage.setItem('animated' ,1);
} 

</script>

<script>

up_hide();
console.log('up is hid');

function in_hide(){
    $("#sign_in_form").hide();
    $("#sign_up_form").show();
    $('input[name="username_in"]').text("")
    $('input[name="password_in"]').text("")
};

function up_hide(){
    $("#sign_in_form").show();
    $("#sign_up_form").hide();
    $('input[name="username"]').text("")
    $('input[name="email"]').text("")
    $('input[name="password"]').text("")
};

$(function() {
    $('button#sign_in_button').on('click', function() {
    $.getJSON('/sign_in/', {
        username_in: $('input[name="username_in"]').val(),
        password_in: $('input[name="password_in"]').val()
    }, function(data) {
        console.log(data.error);
        if (data.error == "Есімнің дұрыстығына көз жеткізіңіз") {
            
            $("#error_p_username_in").text(data.error);
            $("#error_p_password_in").hide();
        }
        else if (data.error == "Құпиясөз қате") {
            $("#error_p_username_in").hide();
            $("#error_p_password_in").text(data.error);
        }
        else if (data.error == "No error"){
            $("#error_p_username_in").hide();
            $("#error_p_password_in").hide();
            location.reload(true);
        }
    });
    return false;
    });
});

$('button#sign_up_button').on('click', function() {
    $.getJSON('/sign_up/', {
        username: $('input[name="username"]').val(),
        email: $('input[name="email"]').val(),
        password: $('input[name="password"]').val()
    }, function(data) {
        if (data.error == "Сіз жазған логин тіркелген") {
            $("#error_p_username").text(data.error);
            $("#error_p_password").hide();
        }
        else if (data.error == "Бұл e-mail тіркелген") {
            $("#error_p_username").hide();
            $("#error_p_email").text(data.error);
        }
        else if (data.error == "No error"){
            $("#error_p_username").hide();
            $("#error_p_password").hide();
            up_hide();
        }
    });
    return false;
    });
</script>
{% endblock %}