{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block main_info %}
<section class="flex-column">
    <section class="side-bar flex-column_align-items_center">
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link">Менің профилім</a>
        </div>
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link">Менің сұрақтарым</a>
        </div>
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link">Менің жауаптарым</a>
        </div>
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link">Лента</a>
        </div>
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link">Өзекті</a>
        </div>
        
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link">Жауап беру</a>
        </div>
        <div class="side-bar__category-box back-question-box">
            <a href="/" class="text_montserrat text_color_light side-bar__category-box-link">Сұрақ қою</a>
        </div>
    </section>
    <section class="main-bar">
        <div class="top-lookfor-questions_box">
            <form action="{{ url_for('new_qa') }}" method="POST">
                <input type="text"  id="question-title" name="question__title" required>
                <textarea type="text" name="question__main-text" required></textarea>
                <input type="file"  id="file" name="file" multiple>
                <button type="submit">Добавить</button>
            </form>
        </div>
    </section></section>
{% endblock %}