.body {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.header__navbar {
    background-color: #1f1f1f;
    height: 80px;
    width: 100%;
    position: relative;
}

.logo {
    width: 60px;
    height: 60px;
}

.logo_place_navbar {
    
}